<h2>Pagos</h2>

{%block content%}

<table class="table" id="payment-list-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Servicio</th>
        <th scope="col">Numero de meses pagados</th>
        <th scope="col">Fin de vigencia</th>
        <th scope="col">Total</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        {%for payment in object_list%}
        <tr>
        <th>{{payment.id}}</th>
        <td>{{payment.service}}</td>
        <td>{{payment.months}}</td>
        <td>{{payment.end_of_validity}}</td>
        <td>{{payment.total}}</td>
        <td>{%if object.get_end_of_validity == payment.end_of_validity%}<a href="{%url 'payments:payment-delete' payment.pk%}">Borrar</a>{%endif%}</td>
        </tr>
        {%endfor%}
    </tbody>
  </table>



{%endblock content%}

{% block js %}
<script>
    $(document).ready(function () {
        $('#payment-list-table').DataTable();
    });
</script>

{% endblock js %}