{% extends 'base.html' %}

{%block title%}Servicios{%endblock title%}

{%block content%}

<a href="{%url 'services:service-create'%}">Crear servicio</a>

<table class="table" id="service-list-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Paquete</th>
      </tr>
    </thead>
    <tbody>
        {%for service in object_list%}
        <tr>
        <th>{{service.id}}</th>
        <td>{{service.client}}</td>
        <td>{{service.address}}</td>
        <td>{{service.package}}</td>
        <td><a href="{%url 'services:service-detail' service.pk%}">Ver detalle</a></td>
        </tr>
        {%endfor%}
    </tbody>
  </table>



{%endblock content%}

{% block js %}
<script>
    $(document).ready(function () {
        $('#service-list-table').DataTable();
    });
</script>

{% endblock js %}